@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */

@layer base {
  button {
    cursor: pointer;
  }

  h1 {
    @apply font-serif text-7xl text-white uppercase md:text-[144px];
  }

  h2 {
    @apply font-serif text-6xl text-white uppercase md:text-[80px] lg:text-8xl;
  }

  h3 {
    @apply font-serif text-2xl uppercase md:text-[40px] lg:text-6xl;
  }

  h4 {
    @apply font-serif text-lg uppercase md:text-2xl lg:text-3xl;
  }

  h5 {
    @apply tracking-widest uppercase md:text-3xl;
  }

  h6 {
    @apply tracking-widest uppercase md:text-xl lg:font-serif lg:text-3xl;
  }

  p {
    @apply font-sans-paragraph leading-[180%] md:leading-[180%] lg:text-lg;
  }
}

@layer components {
  .crew-tab {
    @apply h-2.5 w-2.5 rounded-full bg-white/15 transition-colors hover:bg-white/50 lg:h-4 lg:w-4;
  }

  .crew-tab-active {
    @apply h-2.5 w-2.5 rounded-full bg-white transition-colors hover:bg-white/50 lg:h-4 lg:w-4;
  }

  .destination-tab {
    @apply border-b-[3px] border-transparent py-3 text-sm tracking-widest transition-colors hover:border-white/50 lg:text-base;
  }

  .destination-tab-active {
    @apply border-b-[3px] border-white py-3 text-sm tracking-widest text-white transition-colors hover:border-white/50 lg:text-base;
  }

  .technology-tab {
    @apply h-10 w-10 rounded-full border border-white/25 bg-transparent text-white transition-colors hover:border-white md:h-14 md:w-14;
  }

  .technology-tab-active {
    @apply h-10 w-10 rounded-full border border-transparent bg-white text-blue-900 transition-colors hover:border-white md:h-14 md:w-14;
  }

  .text-preset-7 {
    @apply text-sm tracking-widest uppercase;
  }

  .text-preset-8 {
    @apply text-sm tracking-widest lg:text-base;
  }
}

@theme {
  --color-*: initial;
  --color-white: hsl(0, 0%, 100%);
  --color-blue-300: hsl(231, 77%, 90%);
  --color-blue-900: hsl(230, 35%, 7%);

  --font-sans: "Barlow Condensed", "sans-serif";
  --font-sans-paragraph: "Barlow", "sans-serif";
  --font-serif: "Bellefair", "serif";
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;

  @variant md {
    padding-inline: 8rem;
  }

  @variant lg {
    padding-inline: 4rem;
  }
}
