---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ImageDouglasHurley from "../assets/crew/image-douglas-hurley.webp";
---

<Layout page="crew">
  <div class="py-6 md:py-10">
    <div
      class="flex items-center justify-center gap-6 text-white md:-mx-24 md:justify-start lg:mx-0"
    >
      <span class="font-bold opacity-25 md:text-xl lg:text-3xl">02</span>

      <h6 class="lg:font-sans lg:text-3xl lg:tracking-widest">
        MEET YOUR CREW
      </h6>
    </div>

    <div
      class="mt-6 lg:flex lg:h-[80vh] lg:items-center lg:gap-8 lg:text-start"
    >
      <div class="lg:flex lg:h-full lg:w-1/2 lg:flex-col lg:py-12">
        <section class="flex flex-col gap-6 py-10 lg:mt-auto">
          <div class="flex flex-col gap-2 md:gap-4">
            <h4 class="text-white/50">COMMANDER</h4>
            <h3 class="text-white">Douglas Hurley</h3>
          </div>

          <p>
            Douglas Gerald Hurley is an American engineer, former Marine Corps
            pilot and former NASA astronaut. He launched into space for the
            third time as commander of Crew Dragon Demo-2.
          </p>
        </section>

        <nav
          class="mt-6 flex justify-center gap-4 lg:mt-auto lg:justify-start lg:gap-10"
        >
          <button
            class="h-2.5 w-2.5 rounded-full bg-white transition-colors hover:bg-white/50 lg:h-4 lg:w-4"
            type="button"></button>

          <button
            class="h-2.5 w-2.5 rounded-full bg-white/15 transition-colors hover:bg-white/50 lg:h-4 lg:w-4"
            type="button"></button>

          <button
            class="h-2.5 w-2.5 rounded-full bg-white/15 transition-colors hover:bg-white/50 lg:h-4 lg:w-4"
            type="button"></button>

          <button
            class="h-2.5 w-2.5 rounded-full bg-white/15 transition-colors hover:bg-white/50 lg:h-4 lg:w-4"
            type="button"></button>
        </nav>
      </div>

      <section class="mt-8 lg:w-1/2 lg:px-12">
        <Image
          alt="Douglas Hurley"
          class="mx-auto h-[340px] w-auto mask-b-from-75% mask-b-to-100% md:h-[560px] lg:h-[676px]"
          src={ImageDouglasHurley}
        />
      </section>
    </div>
  </div>
</Layout>
