---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ImageMoon from "../assets/destination/image-moon.webp";
---

<Layout page="destination">
  <div>
    <div class="flex items-center justify-center gap-6 text-white">
      <span class="opacity-25">01</span>
      <h6>PICK YOUR DESTINATION</h6>
    </div>

    <div class="mt-6">
      <div class="py-7">
        <Image alt="Moon" class="mx-auto h-[150px] w-[150px]" src={ImageMoon} />
      </div>

      <div class="mt-8">
        <nav class="flex items-center justify-center gap-8">
          <button
            class="text-preset-8 border-b-[3px] border-white py-3 text-white transition-colors hover:border-white/50"
            type="button">MOON</button
          >

          <button
            class="text-preset-8 border-b-[3px] border-transparent py-3 transition-colors hover:border-white/50"
            type="button">MARS</button
          >

          <button
            class="text-preset-8 border-b-[3px] border-transparent py-3 transition-colors hover:border-white/50"
            type="button">EUROPA</button
          >

          <button
            class="text-preset-8 border-b-[3px] border-transparent py-3 transition-colors hover:border-white/50"
            type="button">TITAN</button
          >
        </nav>

        <section class="mt-6 flex flex-col gap-4">
          <h2>MOON</h2>

          <p>
            See our planet as you’ve never seen it before. A perfect relaxing
            trip away to help regain perspective and come back refreshed. While
            you’re there, take in some history by visiting the Luna 2 and Apollo
            11 landing sites.
          </p>
        </section>

        <hr class="mt-6 text-white opacity-25" />

        <section class="mt-6 flex flex-col gap-6">
          <div class="flex flex-col gap-3">
            <p class="text-preset-7">AVG. DISTANCE</p>
            <h6 class="text-3xl text-white">384,400 km</h6>
          </div>

          <div class="flex flex-col gap-3">
            <p class="text-preset-7">Est. travel time</p>
            <h6 class="text-3xl text-white">3 days</h6>
          </div>
        </section>
      </div>
    </div>
  </div>
</Layout>
