---
import Layout from "../layouts/Layout.astro";
---

<Layout page="destination">
  <div class="lg:w-1/2 lg:text-left">
    <h5>SO, YOU WANT TO TRAVEL TO</h5>
    <h1 class="py-6">DESTINATION</h1>

    <p>
      Let’s face it; if you want to go to space, you might as well genuinely go
      to outer space and not hover kind of on the edge of it. Well sit back, and
      relax because we’ll give you a truly out of this world experience!
    </p>
  </div>

  <button
    class="mt-32 h-36 w-36 rounded-full bg-white font-serif text-blue-900 uppercase transition-all hover:outline-[88px] hover:outline-white/10 md:h-[272px] md:w-[272px] lg:mt-0"
    type="button"
  >
    <h4>EXPLORE</h4>
  </button>
</Layout>
