---
import { Image } from "astro:assets";
import ImageLaunchVehiclePortrait from "../assets/technology/image-launch-vehicle-portrait.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout page="technology">
  <div class="py-6 md:py-10">
    <div
      class="flex items-center justify-center gap-6 text-white md:-mx-24 md:justify-start lg:mx-0"
    >
      <span class="font-bold opacity-25 md:text-xl lg:text-3xl">03</span>

      <h6 class="lg:font-sans lg:text-3xl lg:tracking-widest">
        SPACE LAUNCH 101
      </h6>
    </div>

    <div
      class="mt-6 lg:flex lg:h-[80vh] lg:items-center lg:gap-8 lg:text-start"
    >
      <section class="-mx-6 pt-16 lg:w-1/2 lg:px-12">
        <Image
          alt="Douglas Hurley"
          class="mx-auto h-[258px] w-[768px] object-cover object-bottom md:h-[560px] lg:h-[676px]"
          src={ImageLaunchVehiclePortrait}
        />
      </section>

      <div class="mt-8 flex flex-col gap-10 lg:h-full lg:w-1/2 lg:py-12">
        <nav
          class="flex justify-center gap-4 lg:mt-auto lg:justify-start lg:gap-10"
        >
          <button
            class="h-10 w-10 rounded-full border border-transparent bg-white text-blue-900 transition-colors hover:border-white lg:h-4 lg:w-4"
            type="button"><h4>1</h4></button
          >

          <button
            class="h-10 w-10 rounded-full border border-white/25 bg-transparent text-white transition-colors hover:border-white lg:h-4 lg:w-4"
            type="button"><h4>2</h4></button
          >

          <button
            class="h-10 w-10 rounded-full border border-white/25 bg-transparent text-white transition-colors hover:border-white lg:h-4 lg:w-4"
            type="button"><h4>3</h4></button
          >
        </nav>

        <section class="flex flex-col gap-4 lg:mt-auto">
          <div class="flex flex-col gap-4">
            <h4 class="text-white/50">THE TERMINOLOGY...</h4>
            <h3 class="text-white">LAUNCH VEHICLE</h3>
          </div>

          <p>
            A launch vehicle or carrier rocket is a rocket-propelled vehicle
            used to carry a payload from Earth's surface to space, usually to
            Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful
            in operation. Standing 150 metres tall, it's quite an awe-inspiring
            sight on the launch pad!
          </p>
        </section>
      </div>
    </div>
  </div>
</Layout>
