---
import "@fontsource/barlow";
import "@fontsource/barlow-condensed";
import "@fontsource/bellefair";
import IconClose from "../assets/shared/icon-close.svg";
import IconHamburger from "../assets/shared/icon-hamburger.svg";
import Logo from "../assets/shared/logo.svg";
import "../styles/global.css";

interface Props {
  page: string;
}

const { page } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Space Tourism Website</title>
  </head>

  <body
    class={`${page} bg-cover text-center text-blue-300 lg:h-max bg-no-repeat`}
  >
    <header
      class="sticky top-0 left-0 flex w-full items-center justify-between px-6 py-6 md:justify-normal md:p-0 lg:items-end"
    >
      <div class="flex w-1/2 items-center">
        <a class="flex md:mx-10 lg:mx-16 lg:my-6" href="/">
          <button type="button">
            <Logo />
          </button>
        </a>

        <hr
          class="z-10 my-auto -mr-8 hidden flex-auto text-white opacity-25 lg:flex"
        />
      </div>

      <button class="z-10 md:hidden" type="button">
        <IconClose class="hidden" id="iconClose" />
        <IconHamburger id="iconHamburger" />
      </button>

      <aside
        class="text-preset-8 fixed top-0 -right-full h-screen w-2/3 bg-white/5 pt-[133px] pl-8 text-left text-white backdrop-blur-xl transition-all duration-500 md:hidden"
      >
        <nav class="flex flex-col gap-8">
          <a
            class={`border-r-[3px] transition-colors hover:border-white/50 ${Astro.url.pathname === "/" ? "border-white" : "border-transparent"}`}
            href="/"><span class="mr-3 font-bold">00</span>HOME</a
          >

          <a
            class={`border-r-[3px] transition-colors hover:border-white/50 ${Astro.url.pathname === "/destination/" ? "border-white" : "border-transparent"}`}
            href="/destination/"
            ><span class="mr-3 font-bold">01</span>DESTINATION</a
          >

          <a
            class={`border-r-[3px] transition-colors hover:border-white/50 ${Astro.url.pathname === "/crew/" ? "border-white" : "border-transparent"}`}
            href="/crew/"><span class="mr-3 font-bold">02</span>CREW</a
          >

          <a
            class={`border-r-[3px] transition-colors hover:border-white/50 ${Astro.url.pathname === "/technology/" ? "border-white" : "border-transparent"}`}
            href="/technology/"
            ><span class="mr-3 font-bold">03</span>TECHNOLOGY</a
          >
        </nav>
      </aside>

      <nav
        class="text-preset-8 hidden flex-auto items-center justify-end gap-12 bg-white/5 px-9 text-white backdrop-blur-md md:flex lg:mt-10 lg:ml-auto lg:w-1/2 lg:flex-none"
      >
        <a
          class={`border-b-[3px] py-9 transition-colors hover:border-white/50 ${Astro.url.pathname === "/" ? "border-white" : "border-transparent"}`}
          href="/"><span class="mr-3 font-bold">00</span>HOME</a
        >

        <a
          class={`border-b-[3px] py-9 transition-colors hover:border-white/50 ${Astro.url.pathname === "/destination/" ? "border-white" : "border-transparent"}`}
          href="/destination/"
          ><span class="mr-3 font-bold">01</span>DESTINATION</a
        >

        <a
          class={`border-b-[3px] py-9 transition-colors hover:border-white/50 ${Astro.url.pathname === "/crew/" ? "border-white" : "border-transparent"}`}
          href="/crew/"><span class="mr-3 font-bold">02</span>CREW</a
        >

        <a
          class={`border-b-[3px] py-9 transition-colors hover:border-white/50 ${Astro.url.pathname === "/technology/" ? "border-white" : "border-transparent"}`}
          href="/technology/"
          ><span class="mr-3 font-bold">03</span>TECHNOLOGY</a
        >
      </nav>
    </header>

    <main class="container min-h-dvh">
      <slot />
    </main>
  </body>
</html>

<style>
  body.home {
    background-image: url("/images/home/background-home-mobile.jpg");
  }

  body.destination {
    background-image: url("/images/destination/background-destination-mobile.jpg");
  }

  body.crew {
    background-image: url("/images/crew/background-crew-mobile.jpg");
  }

  body.technology {
    background-image: url("/images/technology/background-technology-mobile.jpg");
  }
  @media (min-width: 768px) {
    body.home {
      background-image: url("/images/home/background-home-tablet.jpg");
    }

    body.destination {
      background-image: url("/images/destination/background-destination-tablet.jpg");
    }

    body.crew {
      background-image: url("/images/crew/background-crew-tablet.jpg");
    }

    body.technology {
      background-image: url("/images/technology/background-technology-tablet.jpg");
    }
  }

  @media (min-width: 1024px) {
    body.home {
      background-image: url("/images/home/background-home-desktop.jpg");
    }

    body.destination {
      background-image: url("/images/destination/background-destination-desktop.jpg");
    }

    body.crew {
      background-image: url("/images/crew/background-crew-desktop.jpg");
    }

    body.technology {
      background-image: url("/images/technology/background-technology-desktop.jpg");
    }
  }
</style>

<script>
  const iconClose = document.querySelector("#iconClose"),
    iconHamburger = document.querySelector("#iconHamburger"),
    menuButton = document.querySelector("header button"),
    menu = document.querySelector("aside");

  let isMenuShown = false;

  menuButton?.addEventListener("click", () => {
    iconClose?.classList.toggle("hidden");
    iconHamburger?.classList.toggle("hidden");
    menu?.classList.toggle("-right-full");
    menu?.classList.toggle("right-0");
    isMenuShown = !isMenuShown;
  });
</script>
